<head><script defer src="/control-panel.github.io/app.js"></script><link href="/control-panel.github.io/css/styles.css" rel="stylesheet"></head>


<ul class="c-actions">
    <li class="c-action">
        <span class="c-action__title">10 طلبات تحتاج المعالجة</span>
        <a href="" class="c-action__link c-btn">مشاهد الطلبات</a>
    </li>
    <li class="c-action">
        <span class="c-action__title">5 رسائل تحتاج الإجابة</span>
        <a href="" class="c-action__link c-btn">مشاهد الرسائل</a>
    </li>
    <li class="c-action">
        <span class="c-action__title">3 منتجات ضرورية على وشك النفاذ</span>
        <a href="" class="c-action__link c-btn">مشاهد المنتجات</a>
    </li>
</ul>
